@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



@font-face {
    font-family: myFont;
    src: url("../assets/Quesha.ttf");
}

@font-face {
    font-family: myFont2;
    src: url("../assets/Romana.ttf");
}


.pd{
    padding: 10px 20px;
}

.useQuesha{
    font-family: myFont;
}
#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

