@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



@font-face {
    font-family: myFont;
    src: url("../assets/Quesha.ttf");
}

@font-face {
    font-family: myFont2;
    src: url("../assets/Romana.ttf");
}

body {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: white;
    overflow-x: hidden;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.pd{
    padding: 10px 20px;
}
.pdList{
    padding: 0.7rem 1rem;
}
.pInput{
    padding: 0 0.2rem;
}
.mb{
   margin-bottom: 0.6rem; 
}

.mt{
    margin-top: 0.6rem
}
.useQuesha{
    font-family: myFont;
}

.useRomana{
    font-family: myFont2;
}


/*#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}*/

#navbar li {
    list-style: none;
    padding: 0 1.2rem;
    position: relative;
}

#navbar li .dropdown li a{
    font-size: 0.7rem;
}

#navbar li .dropdown li{
    padding: 0.5rem 0.5rem;
}


ul li:hover ul.dropdown {
    display: block;
}
#navbar li span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    background: yellow;
    border-radius: 50%;
    font-size: 10px;
    top: -11px;
    right: 10px;
}
#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}
.categories {
    /*position: fixed;
    top: 50px;*/
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    background: white;
}
.categories .categories-name, .categories .categories-name1 {
    margin-right: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.categories .categories-name1 {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding:6px 5px 6px 5px;
}
.categories .active {
    background-color: black;
    color: white;
    border-radius: 5px;
    padding:6px 5px 6px 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.categories .categories-name:hover {
    background-color: #e0dfe8;
    color: black;
    padding:6px 7px 6px 7px;
    cursor: pointer;
    transition: all 0.5s ease;
}



.cat-name {
    margin-top: 30px;
}
.cat-name .goods-category {
    padding-left: 10px;
}


.pro{
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(15, 15, 15, 0.02);
    margin : 15px 0;
    transition: 0.2s ease;
    position: relative;
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
#product1{
    overflow-x: hidden; 
}

.des {
    padding: 10px 0;
}

.des h5 {
    padding-top: 7px;
    font-weight: 300;
}
.pro .des h4 {
    padding-top: 7px;
}
.pro .cart{
    padding: 5px 7px;
    text-decoration: none;
    transition: all 0.2s ease;
}
.pro .cart:hover {
    transform: scale(1.10);
    cursor: pointer;
}

@media screen and (max-width: 750px){

    .pd {
    padding: 0.rem 1rem;
    }
    .the-headers{
        justify-content: space-between;
        position: relative;
        align-items: center;
    }

    #navbar li {
    padding: 0 0.8rem;
    font-size: 0.9rem;

    }

    #navbar li:nth-child(3){
        padding-right: 0rem;
    }

#navbar li span {
    width: 18px;
    height: 18px;
    font-size: 0.7rem;
    top: -9px;
    right: -9px;
}

    .Business-name .head-cont{
        font-size: 2rem;
    }
    .Business-name{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .shipping-sales .head-cont{
        font-size: 0.7rem
    }

    .categories .categories-name, .categories .categories-name1 {
    margin-right: 10px;
    font-weight: 500;
    margin-bottom: 8px;
    font-size: 0.7rem;
    }
    .categories .active {
        padding: 4px 5px 4px 5px;
        }

        .pro {
        margin: 15px 0;
    }
}
